set autoindent
set const
set cut
set morespace
set nonewlines
set suspend
set tabstospaces
set tabsize 4
set undo
set nowrap


# Please fix this according to your OS.
# This is an example config for macOS / brew installed nano.
# link this file:
#
# cp ~/Dotfiles/rc/nanorc.example ~/.nanorc
#
include "/usr/local/Cellar/nano/2.7.0/share/nano/asm.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/autoconf.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/awk.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/c.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/changelog.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/cmake.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/css.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/debian.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/default.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/elisp.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/fortran.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/gentoo.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/go.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/groff.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/guile.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/html.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/java.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/javascript.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/json.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/lua.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/makefile.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/man.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/mgp.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/mutt.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/nanorc.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/nftables.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/objc.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/ocaml.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/patch.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/perl.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/php.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/po.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/postgresql.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/pov.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/python.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/ruby.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/rust.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/sh.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/spec.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/tcl.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/tex.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/texinfo.nanorc"
include "/usr/local/Cellar/nano/2.7.0/share/nano/xml.nanorc"